go 1.22.0

use (
	.
	./hiveproxy
	./simulators/core-coin/graphql
	./simulators/core-coin/rpc
	./simulators/core-coin/sync
	./simulators/devp2p
	./simulators/smoke/genesis
	./simulators/smoke/mining
	./simulators/smoke/network
)
